RewriteEngine on

# Redirect non-www to www 
#RewriteCond %{HTTP_HOST} !^www\. 
#RewriteRule (.*) http://localhost/sts/$1 [R=301,L]

#RewriteRule ^index$		http://localhost/sts/ [R=301,L]
#RewriteRule ^sitemap.xml.gz$	http://localhost/sts/main/generate_xml_sitemap/ [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
